version: '3'

services:
  backend:
    container_name: uwpath_backend
    build: .
    command: bash -c "
      python manage.py migrate
      && python manage.py runserver 0.0.0.0:8000
      "
    # volumes:
    #   - ./Wallet_uwpathparallel:/code/Wallet_uwpathparallel
    ports:
      - "8000:8000"
    networks:
      - uwpath_db_network
      - uwpath_backend_network
    environment:
      - UWPATH_ENVIRONMENT=docker
    #  - SECRET_KEY=7ldnlu_gz*&vx&=4)q3#74ih@nzx*owgeu^=*katjqpbb-s1sk
    #  - DJANGO_SETTINGS_MODULE=uwpath_backend.dev
    #   - TNS_ADMIN=/code/Wallet_uwpathparallel

networks:
  uwpath_db_network:
    external: true
  uwpath_backend_network:
    driver: bridge
    name: uwpath_backend_network